:root {
  --sidebar-height: calc(100vh - 175px);
}

[data-layout="vertical"] body[data-sidebartype="mini-sidebar"] .left-sidebar .scroll-sidebar {
  height: var(--sidebar-height);
}
[data-layout="vertical"] body[data-sidebartype="mini-sidebar"] .left-sidebar:hover {
  width: 87px;
  z-index: 50;
}
[data-layout="vertical"] body[data-sidebartype="mini-sidebar"] .left-sidebar:hover .logo-img {
  width: 100%;
}
[data-layout="vertical"] body[data-sidebartype="mini-sidebar"] .left-sidebar:hover .nav-small-cap {
  text-align: left;
}
[data-layout="vertical"] body[data-sidebartype="mini-sidebar"] .left-sidebar:hover .nav-small-cap .nav-small-cap-icon {
  display: none;
}
[data-layout="vertical"] body[data-sidebartype="mini-sidebar"] .left-sidebar:hover .fixed-profile,
[data-layout="vertical"] body[data-sidebartype="mini-sidebar"] .left-sidebar:hover .hide-menu,
[data-layout="vertical"] body[data-sidebartype="mini-sidebar"] .left-sidebar:hover .sidebar-nav .has-arrow::after {
  display: inline-block;
}
[data-layout="vertical"] body[data-sidebartype="mini-sidebar"] .left-sidebar:hover .sidebar-nav ul .sidebar-item .sidebar-link {
  padding: 11px 9px;
}
[data-layout="vertical"] body[data-sidebartype="mini-sidebar"] .left-sidebar:hover .sidebar-nav .sidebar-list .sidebar-list-item {
  text-align: left;
}
[data-layout="vertical"] body[data-sidebartype="mini-sidebar"] .left-sidebar:hover .logo-img {
  width: 100%;
}
.left-sidebar .scroll-sidebar {
  overflow: visible;
  padding: 0 14px;
  height: var(--sidebar-height);
  border-radius: 7px;
}
@media (max-width: 1299.98px) {
  .left-sidebar {
    width: 87px;
    left: 0;
    height: 100%;
  }
  #main-wrapper.show-sidebar .left-sidebar {
    left: 0;
  }
  .show-sidebar + .dark-transparent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }
}

@media (max-width: 1299.98px) {
  [data-layout="vertical"] body[data-sidebartype="mini-sidebar"] .page-wrapper {
    margin-left: 87px;
  }
}

@media (max-width: 575.98px) {
  [data-layout="vertical"] body[data-sidebartype="mini-sidebar"] .page-wrapper {
    margin-left: 0px;
  }
  .left-sidebar {
    /* width: 0px; */
    width: 270px;
    left: -270px;
    height: 100%;
  }
  .show-sidebar.left-sidebar {
    left: 0;
    width: 270px;
  }

}

@media (max-width: 1199.98px) {
  .sidebar-nav .fs-10 {
    font-size: 2.5rem !important;
  }
}

.sidebar-nav ul .sidebar-item .sidebar-link {
  padding: 11px 9px;
}


