[data-bs-theme="dark"][data-color-theme="Madaniyat_Theme"]:root,
[data-bs-theme="light"][data-color-theme="Madaniyat_Theme"]:root {
  /* Primary color: #043B87 (rgb(4, 59, 135) ) */
  --bs-primary: #043B87;
  --bs-primary-rgb: 4, 59, 135;
  --bs-light-primary: rgba(4, 59, 135, 0.1);
  --bs-primary-bg-subtle: rgba(4, 59, 135, 0.1);

  /* Secondary color: #f28c00 (rgb(242, 140, 0) ) */
  --bs-secondary: #6c757d;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-light-secondary: rgba(108, 117, 125, 0.1);
  --bs-secondary-bg-subtle: rgba(108, 117, 125, 0.1);
}

[data-bs-theme="dark"][data-color-theme="Madaniyat_Theme"]:root .btn-primary,
[data-bs-theme="light"][data-color-theme="Madaniyat_Theme"]:root .btn-primary {
  --bs-btn-bg: #043B87;
  --bs-btn-border-color: #043B87;
  
  --bs-btn-hover-bg: #022a5f;
  --bs-btn-hover-border-color: #022a5f;
}

[data-bs-theme="dark"][data-color-theme="Madaniyat_Theme"]:root .btn-secondary,
[data-bs-theme="light"][data-color-theme="Madaniyat_Theme"]:root .btn-secondary {
  --bs-btn-bg: #6c757d;
  --bs-btn-border-color: #6c757d;
  
  --bs-btn-hover-bg: #5c636a;
  --bs-btn-hover-border-color: #5c636a;
}

:root{
  --report-draft: #5a5a5a;
  --report-submitted: #2196f3;
  --report-under-review: #ffc107;
  --report-approved: #4caf50;
  --report-rejected: #f44336;
  --report-draft-rgb: 90, 90, 90;
  --report-submitted-rgb: 33, 150, 243;
  --report-under-review-rgb: 255, 193, 7;
  --report-approved-rgb: 76, 175, 80;
  --report-rejected-rgb: 244, 67, 54;
}